.nursing {
    width: 100;
    /* height: 500px; */
    display: flex;
    /* padding: 15px; */
    justify-content: space-around;
    align-items: center;
}

.paragraph-video {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.paragraph-video video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
}

.paragraph-video h1 {
    margin: 0px 0px 20px 0px;
    font-size: 40px;
}

.nurses {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patient {
    display: flex;
}

.patient-parag-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.patient-parag-video video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 1px solid black;
    border-radius: 50px 0px 50px 0px;
}