{%extends "base.html"%}
{%block style%}
<link rel="stylesheet" href="{{url_for('static', filename='css/features.css')}}"/>
{%endblock%}
{%block content%}
<section class="nursing">
    <div class="paragraph-video">
        <h1>Show up your Knoweledge<br>Answer Patients Questions<br>Puplish HealthTeachings</h1>
        <video src="../static/videos/4-healthTeaching.mp4" autoplay></video>
    </div>
    <div class="nurses">
        <img src="../static/imgs/1-show-your-skills.png">
    </div>
</section>
{%endblock%}